*{
    margin: 0;
    padding: 0;
}

.text{
    position: fixed;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    left: 50%;
    top:10px;
    text-shadow: 0 2px  5px rgba(0,0,0,0.3);
    transform:  translateX(-50%);
    -webkit-transform:  translateX(-50%);
    -moz-transform:  translateX(-50%);
    -ms-transform:  translateX(-50%);
    -o-transform:  translateX(-50%);
}

footer{
position: fixed;
padding-top: 700px;
padding-left: 700px;
font-family: cursive;
}    
